{% extends 'templates/app.twig' %}

{% block content %}
    <form action="{{ path_for('order.create') }}" method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">

                        <h3>Your details</h3>
                        <hr>

                        <div class="form-group {% if errors.email %} has-error {% endif %}">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" autocomplete="off" value="{{ old.email }}">
                            {% if errors.email %}
                                <span class="help-block">
                                    {{ errors.email | first }}
                                </span>
                            {% endif %}
                        </div>

                        <div class="form-group {% if errors.name %} has-error {% endif %}">
                            <label for="name">Full name</label>
                            <input type="text" name="name" id="name" class="form-control" value="{{ old.name }}">
                            {% if errors.name %}
                                <span class="help-block">
                                    {{ errors.name | first }}
                                </span>
                            {% endif %}
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h3>Shipping address</h3>
                        <hr>

                        <div class="form-group {% if errors.address1 %} has-error {% endif %}">
                            <label for="address1">Address line 1</label>
                            <input type="text" name="address1" id="address1" class="form-control" value="{{ old.address1 }}">
                            {% if errors.address1 %}
                                <span class="help-block">
                                    {{ errors.address1 | first }}
                                </span>
                            {% endif %}
                        </div>

                        <div class="form-group {% if errors.address2 %} has-error {% endif %}">
                            <label for="address2">Address line 2</label>
                            <input type="text" name="address2" id="address2" class="form-control" value="{{ old.address2 }}">
                            {% if errors.address2 %}
                                <span class="help-block">
                                    {{ errors.address2 | first }}
                                </span>
                            {% endif %}
                        </div>

                        <div class="form-group {% if errors.city %} has-error {% endif %}">
                            <label for="city">City</label>
                            <input type="text" name="city" id="city" class="form-control" value="{{ old.city }}">
                            {% if errors.city %}
                                <span class="help-block">
                                    {{ errors.city | first }}
                                </span>
                            {% endif %}
                        </div>

                        <div class="form-group {% if errors.postal_code %} has-error {% endif %}">
                            <label for="postal_code">Postal code</label>
                            <input type="text" name="postal_code" id="postal_code" class="form-control" value="{{ old.postal_code }}">
                            {% if errors.postal_code %}
                                <span class="help-block">
                                    {{ errors.postal_code | first }}
                                </span>
                            {% endif %}
                        </div>

                    </div>
                </div>

                <h3>Payment</h3>
                <div id="payment"></div>
            </div>

            <div class="col-md-4">
                <div class="well">
                    <h4>Your order</h4>
                    <hr>
                    {% include 'cart/partials/contents.twig' %}
                    {% include 'cart/partials/summary.twig' %}
                    <button type="submit" class="btn btn-default">Place order</button>
                </div>
            </div>
            
        </div>
    </form>
{% endblock %}
{% block scripts %}

<script src="https://js.braintreegateway.com/js/braintree-2.31.0.min.js"></script>

<script>
    $.ajax({
        url: '{{ path_for('braintree.token') }}',
        type: 'get',
        dataType: 'json'
    }).success(function (data) {
        braintree.setup(data.token, 'dropin', {
            container: 'payment'
        });
    });
</script>
{% endblock %}