{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>Order #{{ order.id }}</h3>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h4>Shipping to</h4>
                    {{ order.address.address1 }} <br>
                    {{ order.address.address2 }} <br>
                    {{ order.address.city }} <br>
                    {{ order.address.postal_code }} <br>
                </div>
                <div class="col-md-6">
                    <h4>Items</h4>
                    {% for product in order.products %}
                        <a href="{{ path_for('product.get', { slug: product.slug }) }}">{{ product.title }}</a> (x {{ product.pivot.quantity }})<br>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <p>Shipping: $5.00</p><br>
            <strong>Order total: ${{ order.total | number_format(2) }}</strong>
        </div>
    </div>
{% endblock %}